In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/ilamosin/abTest_pet/app_logs.csv', parse_dates=['date'])
df.head(5)

,date,user_id,exp_group,session_id,session_length,device,order_cnt,price,quantity_cnt
0,2022-06-21,1727468184902936832,0,16557919071727468184902936832,1752,mobile,0,0.0,0
1,2022-06-21,3556219827372626733,0,16558186423556219827372626733,86,mobile,0,0.0,0
2,2022-06-21,2136855388003761026,0,16558402842136855388003761026,222,mobile,0,0.0,0
3,2022-06-21,4593970126020001597,0,16558003654593970126020001597,400,mobile,0,0.0,0
4,2022-06-21,3962568860806737949,1,16558324233962568860806737949,1300,mobile,0,0.0,0

## EDA (exploratory data analysis)

We released new interface feature on all platforms and want to know is it helpful for our users and is there profit for our product and business.

date  

user_id 

exp_group - test/control

session_id  

session_length 

device 

order_cnt - number of orders

price - order cost

quantity_cnt - number of ordered items

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269142 entries, 0 to 269141
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            269142 non-null  datetime64[ns]
 1   user_id         269142 non-null  int64
 2   exp_group       269142 non-null  int64
 3   session_id      269142 non-null  object
 4   session_length  269142 non-null  int64
 5   device          269142 non-null  object
 6   order_cnt       269142 non-null  int64
 7   price           269142 non-null  float64
 8   quantity_cnt    269142 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 18.5+ MB

In [4]:
print(f'Devices which users use: {df.device.unique()}')
print(f'Unique users count: {df.user_id.nunique()}')
print(f'Unique session count: {df.session_id.nunique()}')
print(f'Max date: {df.date.max()}')
print(f'Min date: {df.date.min()}')
print(f'Diff between count session_id and unique session_id : {df.session_id.count()-df.session_id.nunique()}')

Devices which users use: ['mobile' 'desktop' 'tablet']
Unique users count: 68287
Unique session count: 267929
Max date: 2022-07-13 00:00:00
Min date: 2022-06-21 00:00:00
Diff between count session_id and unique session_id : 1213

We have diff between count session_id and unique session_id. Lets see reason

In [96]:
df\
    .groupby(['user_id'])\
    .agg({'session_id':'count'})\
    .rename(columns={'session_id':'count_s'})\
    .query('count_s>1')\
    .sort_values('count_s', ascending=False)\
    .reset_index()

                   user_id  count_s
0      7377259055888388543      174
1      2643534565406623178       98
2      5649845706405562462       76
3      7460365642247924721       71
4      7369859312574859099       69
...                    ...      ...
43618  6467165119456300660        2
43619  6468351909120185336        2
43620  6469145490238627906        2
43621  2498253306598377956        2
43622      125741107230500        2

[43623 rows x 2 columns]

In [382]:
u_1 = df[df['user_id']==6087415308146188769]
u_1.sort_values('session_id')

,date,user_id,exp_group,session_id,session_length,device,order_cnt,price,quantity_cnt
21538,2022-06-22,6087415308146188769,1,16559187906087415308146188769,1490,mobile,0,0.0,0
19002,2022-06-22,6087415308146188769,1,16559205736087415308146188769,444,mobile,0,0.0,0
123840,2022-06-30,6087415308146188769,1,16566202796087415308146188769,953,mobile,0,0.0,0
140215,2022-07-02,6087415308146188769,1,16567659866087415308146188769,321,mobile,0,0.0,0
140183,2022-07-02,6087415308146188769,1,16567732036087415308146188769,1516,mobile,0,0.0,0
143798,2022-07-02,6087415308146188769,1,16567944336087415308146188769,1149,mobile,0,0.0,0
149475,2022-07-03,6087415308146188769,1,16567944336087415308146188769,895,mobile,0,0.0,0
149171,2022-07-03,6087415308146188769,1,16568252596087415308146188769,567,mobile,0,0.0,0
153690,2022-07-03,6087415308146188769,1,16568343986087415308146188769,16,mobile,0,0.0,0
153601,2022-07-03,6087415308146188769,1,16568538586087415308146188769,1003,mobile,0,0.0,0
145067,2022-07-03,6087415308146188769,1,16568771556087415308146188769,629,mobile,0,0.0,0
156418,2022-07-04,6087415308146188769,1,16569154926087415308146188769,2231,mobile,0,0.0,0
211741,2022-07-08,6087415308146188769,1,16572555606087415308146188769,345,mobile,0,0.0,0
236555,2022-07-11,6087415308146188769,1,16574952246087415308146188769,747,mobile,0,0.0,0

In [383]:
16567944336087415308146188769==16567944336087415308146188769

True

In [384]:
u_2 = df[df['user_id']==6178250370357987265]
u_2.sort_values('session_id')

,date,user_id,exp_group,session_id,session_length,device,order_cnt,price,quantity_cnt
5161,2022-06-21,6178250370357987265,1,16558445156178250370357987265,633,mobile,0,0.0,0
23781,2022-06-22,6178250370357987265,1,16558445156178250370357987265,316,mobile,0,0.0,0
31597,2022-06-23,6178250370357987265,1,16559587326178250370357987265,1683,mobile,0,0.0,0
48387,2022-06-24,6178250370357987265,1,16560593176178250370357987265,577,mobile,0,0.0,0
51182,2022-06-24,6178250370357987265,1,16560830506178250370357987265,225,mobile,0,0.0,0
171883,2022-07-05,6178250370357987265,1,16569693906178250370357987265,1511,mobile,0,0.0,0
223502,2022-07-09,6178250370357987265,1,16573493266178250370357987265,779,mobile,0,0.0,0
259888,2022-07-13,6178250370357987265,1,16577372076178250370357987265,1865,mobile,0,0.0,0

In [385]:
16558445156178250370357987265==16558445156178250370357987265

True

In [159]:
633+316

949

The reason why we have duplicated session_id is that users can start sesion at 23.59 PM 23.04.2022 and finish as 00.30 24.04.2022

I think, we have app where users make orders, something like marketplace. 
Users can make their orders from devices like mobile, desktop, tablet.
Signals which we have: session_length, order_cnt, price, quantity_cnt

Now lets aggregate signals to the metriсs, some of it - average check, asl(Average session length), arpu, arppu, count of session, Total number of orders

Using sql for this

conversion: 
conversion to payment 

users:
arppu = sum(price)/sum(user_id which make order)
arpu = sum(price)/sum(user_id) 
asl = ((sum sessions length)/(sum count ssessions))
count of session = count of seesion on one user

ratio metrics:
average check = sum(price)/count(price)
average number of orders in the check
percentage of sessions that ended in payment

## Aggregating signals to the metrics

In [9]:
con = sqlite3.connect('db')

In [10]:
df.to_sql('metrics', con, index=False, if_exists='replace')

269142

In [544]:
sql = '''
with cte as (
        SELECT 
            iif(date<'2022-06-30', 0, 1) as is_exp_period,
            exp_group,
            user_id,
            device,
            session_id,
            iif(sum(price)>0, 1, 0) as is_paid,
            sum(price) as spendings,
            sum(quantity_cnt) as goods_cnt,
            sum(order_cnt) as order_cnt,
            sum(session_length) as session_length,
            count(iif (price>0, 1, NULL)) as count_payed_ses,
            sum(session_length) as total_session_log_length,
            count(distinct session_id) as session_cnt
        FROM 
            metrics
        GROUP BY
            is_exp_period,
            exp_group,
            user_id,
            device,
            session_id
)
SELECT 
    is_exp_period,
    exp_group,
    user_id,
    device,
    sum(spendings) as spendings,
    sum(goods_cnt) as goods_cnt,
    sum(order_cnt) as order_cnt,
    sum(count_payed_ses) as count_payed_ses,
    log(sum(total_session_log_length)) total_session_log_length,
    sum(session_cnt) as session_cnt
FROM
    cte
GROUP BY
    is_exp_period,
    exp_group,
    user_id,
    device
'''

In [545]:
df_f = pd.read_sql(sql, con)

In [546]:
df[df['user_id']==6180726904333254161]

,date,user_id,exp_group,session_id,session_length,device,order_cnt,price,quantity_cnt
157890,2022-07-04,6180726904333254161,1,16569673066180726904333254161,1065,desktop,0,0.00,0
174354,2022-07-05,6180726904333254161,1,16570058026180726904333254161,777,desktop,0,0.00,0
175317,2022-07-05,6180726904333254161,1,16569673066180726904333254161,1958,desktop,0,0.00,0
180257,2022-07-06,6180726904333254161,1,16570841086180726904333254161,1819,desktop,1,45340.19,67

In [547]:
df_f[df_f['user_id']==6180726904333254161]

,is_exp_period,exp_group,user_id,device,spendings,goods_cnt,order_cnt,count_payed_ses,total_session_log_length,session_cnt
83347,1,1,6180726904333254161,desktop,45340.19,67,1,1,3.749659,3

In [551]:
df_f

,is_exp_period,exp_group,user_id,device,spendings,goods_cnt,order_cnt,count_payed_ses,total_session_log_length,session_cnt
0,0,0,808009533082155,desktop,23633.4000,66,1,1,3.058046,2
1,0,0,1060467734156393,desktop,0.0000,0,0,0,2.956168,1
2,0,0,2143989199202770,desktop,0.0000,0,0,0,2.298853,2
3,0,0,3131376403586102,desktop,0.0000,0,0,0,4.097118,5
4,0,0,3635790242295087,mobile,0.0000,0,0,0,3.408579,1
...,...,...,...,...,...,...,...,...,...,...
91571,1,1,9221295374570795603,mobile,0.0000,0,0,0,3.661150,3
91572,1,1,9221338135254406081,mobile,0.0000,0,0,0,3.569842,4
91573,1,1,9221528745902562562,desktop,0.0000,0,0,0,3.489958,10
91574,1,1,9222119922399776099,desktop,184.4500,1,1,1,3.396548,2
91575,1,1,9223272807582961860,desktop,69605.6466,28,14,14,3.639785,14

In [554]:
df_f.user_id.nunique()

68287